
@model OnlineShop.Models.TagLists
@{
    ViewData["Title"] = "Details";
}
<br />

<h2 class="text-info">Details Product Type</h2>

<form asp-action="Index" method="get">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="TagList"></label>
        </div>
        <div class="col-5">
            <input asp-for="TagList" readonly="readonly" class="form-control" />
        </div>
        <span asp-validation-for=" TagList" class="text-danger"></span>
    </div>
    <div class="form-group">

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <input type="submit" class="btn btn-success" value="Back to list" />

    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
